* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  border: 1px solid black;
};

.landing{
  width: 100vw;
  height: 100vh;
  background: $main-color;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  button{
    order: 1;
    margin: 5px;
    height: 15em;
    width: 15em;
    background-color: $secondary-color;
    color: #FFFFFF;
  }
};

#landingName{
  height: 5em;
  width: 50em;
  font: {
    size: 1em;
  }
}

.summoner{
display: flex;
min-height: 100vh;
flex-direction:column;
}


.summonerBody{
  display: flex;
  flex: 1;
  flex-direction: row;
  .sidebar1, .sidebar2{
    flex: 0 0 12em;
  }
  .sidebar1{
    background-color: $main-color;
    color: white;
  }
  .sidebar2{
    order: -1;
    background-color: $main-color;
    color: white;
  }
  .summonerResults{
    flex: 1;
  }
}
.summonerInfoIcons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $secondary-color;
  img{
    width: 128px;
    height: 128px;
    border: 1px solid;
    margin: 10px;
  }
  .summonerIcon{
    h2{
      margin-left: 10px;
    }
  }
  #summIcon{
    order: -1;
  }
  #divIcon{
    width: 130px;
    height: 130px;
    border-color: $secondary-color;
  }
}
.displayName{
  h1{
    margin: 65px;
    align-self:flex-end;
  }
}





























// .sidebars{
//   width: 100vw;
//   height: 100vh;
//   display: flex;
//   justify-content: space-between;
//   .sidebar {
//     width: 15%;
//     height: 100vh;
//     background: $main-color;
//   }
//   #sidebar2{
//     order: 1;
//   }
// }
// .mainResults{
//   flex-direction: row;
// }
